* {
  margin: 0;
  padding: 0;
}

header {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(images/Banner\ Image.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: 50px 140px;
}

.header {
  padding: 177px;
}

.header-description {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.header-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  margin-bottom: 40px;
}

.off {
  padding: 120px 460px;
}

.title {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.description {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.cate {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
  margin-top: 15px;
}

.kola {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(images/Vectorrr.png);
  background-repeat: no-repeat;
  display: flex;
  margin: 50px 140px;
  height: 600px;
  border-radius: 16px;
}

.licu {
  width: 319.83px;
  height: 464.662px;
  margin-top: 69px;
  margin-right: 138px;
}

.welcome {
  color: #fff;
  font-size: 60px;
  font-family: Merriweather;
  font-weight: 900;
  letter-spacing: 7px;
  padding: 126px 200px 30px 126px;
}

.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  margin-left: 126px;
}

.btn {
  color: #fff;
  margin-left: 150px;
  margin-top: 48px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 50px 140px;
  text-align: center;
  padding: 100px 380px;
  margin-top: 120px;
}

span {
  color: #f00;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 56px;
}

.join {
  padding: 16px 32px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 64px;
}

.new-park {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 56px;
}

.best-gift {
  margin: 50px 140px;
}

.gift {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-top: 120px;
}

.gift-title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
}

.gift-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-top: 22px;
}

.containerr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.images-content {
  width: 424px;
  height: 450px;
}

.images-content:hover {
  border: 0.5px solid gray;
  border-radius: 16px;
}

.subs {
  margin: 50px 140px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 616px;
  margin-top: 120px;
}

.subscrib {
  margin-top: 80px;
  padding: 0px 585px;
}

.subscribe-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 48px;
}

.subscribe-title-name {
  margin-bottom: 22px;
}

.subscribe-description {
  margin-bottom: 48px;
}

input {
  background: #fff;
  border-radius: 50px 0px 0px 50px;
  padding: 25px 200px 25px 30px;
  border: 0;
}

::placeholder {
  text-align: left;
  font-size: 20px;
}

button {
  padding: 24px 56px;
  border: 0;
  border-radius: 50px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  font-size: 15px;
}

footer {
  margin: 120px 140px;
  background: #070211;
  height: 600px;
  color: #fff;
  padding: 120px 140px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 8px;
}

.footer-link {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 8px;
}

.socail-link {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
}

hr {
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.15);
}

.copy-right {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.best-offer-title {
  display: flex;
  margin: 50px 140px;
  background: #fff;
}

.best-offer-text {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.best-offer-coming {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
}

.best-offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 22px;
}

.group-67 {
  display: block;
  margin: 0px auto;
}

.images-pic {
  margin-left: 100px;
  border-radius: 463px;
  border: 15px solid #f00;
}

.sooon {
  margin-left: 100px;
}

.best-offer-comming {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  margin-top: 11px;
}

.happy-new-year {
  margin-top: 43px;
}

.holiday {
  margin: 50px 140px;
  height: -100px;
  margin-top: 120px;
}

.what-is {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.what-is-sale {
  color: #f00;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}

.what-is-title {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  margin-top: 16px;
}

.what-is-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 22px;
}

.borderr {
  margin-top: 0px;
  border-radius: 16px 0px 16px 16px;
  background: #f00;
}

.rectangle {
    display: flex;
    margin-left: -214px;
}

.rectangle1 {
    width: 429px;
    height: 433px;
    margin-top: 230px;
}

.fifty {
    margin-top: 300px;
}




